/* Custom styles for the webpage */
body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    background: linear-gradient(45deg, #007bff, #00d4ff);
}

.card {
    margin-bottom: 60px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card img{
    
    height: 250px;
}